<title>Linkode | Protect your APIs & more.</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
.split-para      { display:block;margin:10px;}
.split-para span { display:block;float:right;width:50%;margin-left:10px;}
</style>
<pre class="split-para">
<span>
<h4>Donate Processing Power & Support Linkode.</h4>
<script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
<div class="coinhive-miner" 
	style="width: 600px; height: 100px"
	data-key="3BjNKC9BEPih7qL7EbImm7cX9xgKRneK"
	data-background="#F5F5F5">
	<em>Loading...</em>
</div>
</span> 
██╗     ██╗███╗   ██╗██╗  ██╗ ██████╗ ██████╗ ███████╗
██║     ██║████╗  ██║██║ ██╔╝██╔═══██╗██╔══██╗██╔════╝
██║     ██║██╔██╗ ██║█████╔╝ ██║   ██║██║  ██║█████╗  
██║     ██║██║╚██╗██║██╔═██╗ ██║   ██║██║  ██║██╔══╝  
███████╗██║██║ ╚████║██║  ██╗╚██████╔╝██████╔╝███████╗
╚══════╝╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝ ╚═════╝ ╚═════╝ ╚══════╝
                                                   
                   _________________________
          (__)    /                         \         
          (oo)   ( Protect Your APIs & More! )
   /-------\/  --'\_________________________/        
  / |     ||
 *  ||----||     <a href="https://github.com/beta-oof/linkode">github.com/beta-oof/linkode</a>    
    ^^    ^^                
</pre>
<div class="container">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">About</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">	<p><strong>Note:</strong> Misuse of this free service could result in a temporary or perm ban.</p>
        Linkode is a API service that allows you to protect your APIs from people trying to steal them and use them for malicious reasons. Linkode can also protect pictures, check the usage tab below for instructions on how to use linkode.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Usages (How To Use)</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse in">
        <div class="panel-body"><b>Protect API/Link</b>: 0.0.0.0:8080/{url goes here}<br>
        <b>Protect Images</b>: 0.0.0.0:8080/{img url goes here}</div>
      </div>
    </div>
      </div>
    </div>
  </div> 
</div>
